body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #cedcc3;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    width: 97.36%;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header is on top */
}

/* .logo-container {
    margin-right: 20px;
} */

.logo {
    max-height: 120px; 
}

.nav-container {
    flex: 1;
}

.nav-container h1 {
    margin-bottom: 30px;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #535a3b;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 30px;margin-top: 77px;
}

.search-bar {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-icon {
    background-color: #ccc;
    padding: 5px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.icons i {
    font-size: 27px;
    margin-top: 80px;
    margin-right: 17px;
    color: #535a3b;
    cursor: pointer;
}

main {
    padding: 20px;
}

.banner {
    background-color: #d9dad7;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}


.circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; 
}

.circle::before {
    content: '';
    position: absolute;
    width: 330px; 
    height: 330px; 
    background-color: white;
    border-radius: 50%;
    z-index: -1; 
}

.banner p {
    font-family: 'Domine', serif;
    font-size: 45px; 
    color: #333;
    margin: 0;
    padding: 20px; 
    text-align: center; 
}

.banner span {
    font-size: 200px;
    color: #e8630a;
}

.banner img {
    height: 100%;
    max-height: 440px;
    object-fit: cover;
    margin-left: 200px;
}

.offers {
    height: 250px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    justify-content: space-between;
    margin-top: 22px;
}

.offers .b1, .b2, .b3{
    height: 250px;
    width: 478px;
    display: flex;
    align-items: center;
}

.offers .b1 img, .b2 img, .b3 img{
    height: 250px;
    padding: 0px 50px 0px 0px;
    
}

.offers .b1 p, .b2 p, .b3 p{
    margin-left: 20px;
}

.offers .b1 span, .b2 span, .b3 span{
    font-size: 25px;
}

.offers .b1 a, .b2 a, .b3 a {
    color: sienna;
    /* text-decoration: none; */
}

.b1 {
    background-color: #d1cebd;
}

.b2 {
    background-color: #d1cebd;
}

.b3 {
    background-color: #d1cebd;
}

.b4 {
    background-color: #d1cebd;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 97.88%;
    bottom: 0;
}

