body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #cedcc3;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    width: 97.36%;
    position: sticky;
    top: 0;
    z-index: 1000; 
}
/* .logo-container {
    margin-right: 20px;
} */

.logo {
    max-height: 120px; 
}


.nav-container {
    flex: 1;
}

.nav-container h1 {
    margin-bottom: 30px;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #535a3b;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.mega-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu-column {
    flex: 1;
}

.menu-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.menu-column a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 0;
}

.menu-column a:hover {
    text-decoration: underline;
}


.search-container {
    display: flex;
    align-items: center;
    margin-right: 30px;margin-top: 77px;
}

.search-bar {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-icon {
    background-color: #ccc;
    padding: 5px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.icons i {
    font-size: 27px;
    margin-top: 80px;
    margin-right: 17px;
    color: #535a3b;
    cursor: pointer;
}

main {
    padding: 20px;
}

.banner {
    background-color: #d9dad7;
    height: 450px;
    display: flex;
    align-items: center;
    /* justify-content: space-between;  */
    padding: 20px;
}

.banner p {
    font-family: 'Domine', serif;
    font-size: 45px; 
    color: #333; /* Adjust as needed */
    margin: 0;
    margin-left: 220px
}

.banner span{
    font-size: 70px;
    color: #e8630a;
}

.banner img {
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-left: 220px; /* Adjust space between text and image */
}

.offers {
    height: 250px;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    justify-content: space-between;
}

.offers .b1, .b2, .b3, .b4 {
    height: 200px;
    width: 356px;
    display: flex;
    align-items: center;
}

.offers .b1 img, .b2 img, .b3 img, .b4 img{
    height: 200px;
}

.offers .b1 p, .b2 p, .b3 p, .b4 p{
    margin-left: 20px;
}

.offers .b1 span, .b2 span, .b3 span, .b4 span{
    font-size: 25px;
}

.b1 {
    background-color: #aeaf7a;
}

.b2 {
    background-color: #8f8787;
}

.b2 img{
    height: 230px;
    margin-bottom: 30px;
}

.b3 {
    background-color: #e79e85;
}

.b4 {
    background-color: #dab784;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 20px 0;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.footer-content img {
    max-height: 120px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    padding: 20px;
}

.footer-section h2 {
    font-family: 'Domine', serif;
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
}

.footer-section p, .footer-section ul, .footer-section li {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ccc;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #e8630a;
}

.footer-section.newsletter form {
    /* display: flex; */
    flex-direction: column;
}

.footer-section.newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    margin-bottom: 10px;
    width: 60%;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
}

.footer-section.newsletter button {
    padding: 10px 20px;
    border: none;
    /* border-radius: 5px; */
    background-color: #e8630a;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease; 
}

.footer-section .newsletter button:hover {
    background-color: #d75703;
}

.footer-section.newsletter p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ccc;
}

.footer-section .social-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.footer-section .social-icons a {
    color: #ccc;
    font-size: 24px;
    margin: 0 10px 0 0;
    text-decoration: none;
}

.footer-section .social-icons a:hover {
    color: #e8630a;
}

.footer-bottom {
    /* background-color: #222; */
    padding: 10px 0;
    margin-bottom: -10px;
    text-align: center;
    justify-content: center;
    color: #ccc;
    font-size: 14px;
    display: flex;
}

.footer-bottom img{
    max-height: 50px;
}

