body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #cedcc3;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}

/* .logo-container {
    margin-right: 20px;
} */

.logo {
    max-height: 120px; 
}

.nav-container {
    flex: 1;
}

.nav-container h1 {
    margin-bottom: 30px;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #535a3b;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 30px;margin-top: 77px;
}

.search-bar {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-icon {
    background-color: #ccc;
    padding: 5px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.icons i {
    font-size: 27px;
    margin-top: 80px;
    margin-right: 17px;
    color: #535a3b;
    cursor: pointer;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
