body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #cedcc3;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    width: 97.88%;
    position: fixed;
}

/* .logo-container {
    margin-right: 20px;
} */

.logo {
    max-height: 120px; 
}

.nav-container {
    flex: 1;
}

.nav-container h1 {
    margin-bottom: 30px;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #535a3b;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 30px;margin-top: 77px;
}

.search-bar {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-icon {
    background-color: #ccc;
    padding: 5px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.icons i {
    font-size: 27px;
    margin-top: 80px;
    margin-right: 17px;
    color: #535a3b;
    cursor: pointer;
}

main {
    padding: 20px;
}

.banner {
    background-color: #d9dad7;
    height: 450px;
    display: flex;
    align-items: center;
    margin-top: 145px;
    /* justify-content: space-between;  */
}

.banner p {
    font-family: 'Domine', serif;
    font-size: 45px; 
    color: #333; /* Adjust as needed */
    margin: 0;
    margin-left: 220px
}

.banner span{
    font-size: 70px;
    color: #e8630a;
}

.banner img {
    height: 100%;
    width: 50%;
    max-height: 500px;
    object-fit: cover;
}

.offers {
    height: 250px;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    justify-content: space-between;
}

.offers .b1, .b2, .b3, .b4 {
    height: 200px;
    width: 356px;
    display: flex;
    align-items: center;
}

.offers .b1 img, .b2 img, .b3 img, .b4 img{
    height: 200px;
}

.offers .b1 p, .b2 p, .b3 p, .b4 p{
    margin-left: 20px;
}

.offers .b1 span, .b2 span, .b3 span, .b4 span{
    font-size: 25px;
}

.b1 {
    background-color: #aeaf7a;
}

.b2 {
    background-color: #8f8787;
}

.b2 img{
    height: 230px;
    margin-bottom: 30px;
}

.b3 {
    background-color: #e79e85;
}

.b4 {
    background-color: #dab784;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 97.88%;
    bottom: 0;
}

